---
import Layout from "../layouts/Layout.astro";
import Slider from '../components/Slider.astro'
import Pensando from '../components/Pensando.astro'
---

<Layout title="Bancolombia: Personas">
	<h1>Hola</h1>
	<Pensando/>

</Layout>