---

---

<section class=" flex flex-col px-40 2xl:px-96 py-6 pb-10">
  <h2 class="pl-4 pb-9">Esto también te puede interesar</h2>
  <div class="flex gap-x-24 w-full">
    <div class="relative w-full">
      <img class="w-full object-cover h-auto" src="https://www.bancolombia.com/wcm/connect/www.bancolombia.com-26918/63b5cc1f-311b-4a2a-bb2a-8b650dd61994/hero-cerificacion-bancaria-desk.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_K9HC1202P86O40QTNS9EAE1S47-63b5cc1f-311b-4a2a-bb2a-8b650dd61994-ozumTn9" alt="">
    </div>
    <article class="w-full">
      <span><h3>Tu Certificado Tributario a un clic
      </h3></span>
      <div>
        <p class="pb-6 pt-9">Descarga tus certificados disponibles a través de nuestra página de forma rápida y segura.</p>
        <a href="">Solicitar certificado</a>
      </div>
    </article>
  </div>
</section>

<style>
  section{
    background-color: #59CBE8;
  }
  h2{
    font-size: 27px;
    line-height: 32px;
    font-weight: 400;
    color: #2c2a2c;
    letter-spacing: -.3px;
  }
  h3{
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    color: #2c2a2c;
    letter-spacing: -0.6px;

  }
  article{
    max-width: 41.66667%;
    padding: 20px 15px;
  }
  p{
    font-size: 16px;
    line-height: 24px;
    color: #2c2a2c;
    font-weight: 400;
    letter-spacing: -.3px;

  }
  a{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.3px;
    color: #2c2a29;
    background: #fff;
    border-radius: 100px;
    padding: 13px 32px;
    margin: auto;
  }
</style>