---
import WhatsApp from "./icons/WhatApp.astro";
import Facebook from "./icons/Facebook.astro";
import Twitter from "./icons/Twitter.astro";
import Arrow from "./icons/Arrow.astro";
import { dataDoubts } from "../data/doubts";
---

<section class="px-2 md:px-40 2xl:px-96 text-center my-10 flex flex-col">
  <h3 class="pb-2">¿Aún tienes dudas?</h3>
  <section
    class="flex flex-wrap md:flex-nowrap items-center justify-center md:justify-between flex-1 pb-12"
  >
    {
      dataDoubts.map((dato) => (
        <main class="flex flex-col items-center text-center w-5/12 md:w-full">
          <div>
            <img src={dato.image} alt="" />
          </div>
          <div class="pb-3">
            <p class="mx-8  text-center">{dato.title}</p>
          </div>
          <a href="" class="underline">
            {dato.button}
          </a>
        </main>
      ))
    }
  </section>
  <footer class="flex items-center justify-center underline">
    <a href="#" class="text-base font-semibold"> Ver todos los productos </a>
    <Arrow class="size-5" />
  </footer>
</section>
<style>
  main {
    padding: 40px 15px 0;
  }
  h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    color: #2c2a29;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #222222;
    height: 36px;
  }
  a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #2c2a29;
  }
</style>
