---
import SubHeader from "./SubHeader.astro";
import { dataHeader } from "../data/header";
---

<header
  class="z-10 fixed top-0 w-full text-white transition-transform duration-500 transform translate-y-0"
>
  <div class="content">
    <nav class="text-white h-0 md:h-10 bg-[#2c2a29]">
      <div
        class="hidden md:flex justify-between md:pl-7 md:pr-7 text-sm items-center"
      >
        <ul class="flex md:gap-2">
          {
            dataHeader.map((dato) => (
              <li>
                <a
                  href="#"
                  class="md:py-2.5 md:px-2 hover:bg-white hover:scale-105 hover:text-black inline-block"
                  id={dato.id}
                >
                  {dato.title}
                </a>
              </li>
            ))
          }
        </ul>
        <ul class="flex md:gap-2">
          <li>
            <a
              class="md:py-2.5 md:px-2 inline-block hover:bg-white hover:scale-105 hover:text-black"
              href="#">Transparencia</a
            >
          </li>
          <li>
            <a
              class="md:py-2.5 md:px-2 inline-block hover:bg-white hover:scale-105 hover:text-black"
              href="#">Consumidor</a
            >
          </li>
        </ul>
      </div>
      <SubHeader />
    </nav>
  </div>
</header>
<script>
  let lastScrollTop = 0;
  const header = document.querySelector("header");

  if (header) {
    window.addEventListener("scroll", function () {
      console.log("Scroll");
      const currentScroll =
        window.pageYOffset || document.documentElement.scrollTop;

      if (
        currentScroll > lastScrollTop &&
        currentScroll > header.clientHeight
      ) {
        header.style.transform = "translateY(-100%)";
      } else {
        header.style.transform = "translateY(0)";
      }
      lastScrollTop = currentScroll;
    });
  }
</script>

<style>
  li {
    font-weight: 530;
    line-height: 18px;
  }
  #icon-nav-business::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    font-weight: 900;
    margin-left: 5px;
  }
  #icon-nav-blog::after {
    content: " ";
    margin-left: 5px;
    position: absolute;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    background: #00c389;
    animation: badgeAnimation 250ms ease-in;
    animation-fill-mode: forwards;
  }
  #icon-nav-blog::after,
  ::before {
    box-sizing: border-box;
  }
  a {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }
</style>
