---
const dataTitle = [
  { title: "Trámites digitales", image: "/icons/document-right.png", color: 'id1' },
  { title: "Negocios deuda", image: "/icons/hand-money.png" },
  { title: "Pagos", image: "/icons/cash.png" },
  { title: "Centro de Ayuda", image: "/icons/help.png" },
  { title: "Certificados bancarios", image: "/icons/document-left.png" },
  { title: "Solicita tu turno", image: "/icons/happy-face.png" },
];
// const dataImage = [

// ];
---

<section class="md:px-36 pt-5 w-full 2xl:px-96">
  <div class="flex ink">
    {
      dataTitle.map((dato) => (
        <article class="flex flex-col items-center w-full flex-1 text-center " id={dato.color}>
          <main class="w-full py-5">
            <div>
              <a href="flex flex-col w-full flex-1 ">
                <div class="flex justify-center">
                  <img src={dato.image} alt={dato.title} />
                </div>
                <h3 class="pt-2">{dato.title}</h3>
              </a>
            </div>
          </main>
        </article>
      ))
    }
  </div>
</section>

<style>
  section {
    background-color: #f7f7f7;
  }
  img {
    width: 30px;
  }
  /* .ink{

  } */
  .ink {
    background-color: white;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  }
  h3 {
    font-size: 14px;
    font-weight: 400;
    color: #2c2a29;
  }
  #id1{
    background-color: #F9D3E1;
  }
</style>
