---
import Card from "./Card.astro";
const title = 'Pensando en ti te recomendamos'
const data = [
  {
    subTitle: "De Colombia pa'l mundo",
    title: "Cruzamos las fronteras del país",
    description:
      "Y llevamos a Latinoamérica lo mejor de nuestro agro con De Colombia pa'l mundo. Disponible en Discovery Channel y HBO Max.",
    image:
      "https://cdn.dynamicyield.com/api/8775742/images/101a891c3859f__homegenericocard1_690x236.jpg",
    button: "Míralo ya",
    color: "#f5b6cd",
    href: "https://www.hbomax.com/co/es/feature/urn:hbo:feature:GZVT6EQKGjpaQVgEAABoe?countryRedirect=1",
    id: 'hola'
  },
];
const secondary = [
  {
    subTitle: "Tu360Compras",
    title: "Lanzamiento Samsung Galaxy S24",
    description:
      "Descubre la última innovación. Lleva el nuevo Galaxy sin pagar intereses de 2 a 12 cuotas, más 5.000 Puntos Colombia. *AplicanTyC",
    image:
      "https://cdn.dynamicyield.com/api/8775742/images/2e709a06923dd__card_2.png",
    button: "Conoce más",
    color: "#00c389",
    id: 'h-48 w-full'
  },
  {
    subTitle: "Seguro integral para cáncer",
    title: "Asegúrate contra todo tipo de cáncer",
    description:
      "El seguro integral para cáncer te da una indemnización económica que usas como quieras en caso de ser diagnosticado",
    image:
      "https://cdn.dynamicyield.com/api/8775742/images/2152008fcddaa__microsoftteams-image_5.png",
    button: "Descubre más",
    color: "#fdda24",
    id: 'h-48 w-full'
  },
];
---
<section>
  <Card title={title} data={data} secondary={secondary}/>
</section>

<style>
  section{
    background-color: #F7F7F7;
  }
</style>