---
import Card from "./Card.astro";
import { titleThinking, dataThinking, secondaryDataThinking } from "../data/thinking";
---

<section>
  <Card title={titleThinking} data={dataThinking} secondary={secondaryDataThinking} />
</section>

<style>
  section {
    background-color: #f7f7f7;
  }
</style>
