---
import Card from "./Card.astro";
const title = 'Conoce más de nuestros productos'
const data = [
  {
    subTitle: "Créditos",
    title: "Financia lo que sueñas, quieres y necesitas.",
    description:
      "Es el momento de lograr tus sueños. Opciones ideales para esos proyectos o ideas que necesitan apoyo financiero.",
    image:
      "https://www.bancolombia.com/wcm/connect/www.bancolombia.com-26918/1a87e4d7-acab-4e94-b576-cefeb944c30d/ilustracion_creditos.svg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_K9HC1202P86O40QTNS9EAE1S47-1a87e4d7-acab-4e94-b576-cefeb944c30d-nwjHdOn",
    button: "SABER MÁS",
    color: "#FFFFFF",
    id: "ContentID",
    id2: 'TextContent',
    id3: "divContent"
  }
];
const secondary = [
  {
    subTitle: "Tarjetas de crédito",
    title: "Paga, compra y gana puntos usando tus tarjetas",
    description: "Usando nuestras tarjetas de crédito tu también ganas.",
    image:
      "https://www.bancolombia.com/wcm/connect/www.bancolombia.com-26918/d0669a3a-2af7-403a-b27f-128e930937cc/ilustracion_tdc.svg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_K9HC1202P86O40QTNS9EAE1S47-d0669a3a-2af7-403a-b27f-128e930937cc-nwjHDEs",
    button: "SABER MÁS",
    color: "#FFFFFF",
    id: 'w-auto my-7',
    id2: 'flex justify-center'
  },
  {
    subTitle: "Seguros",
    title: "Tu seguridad es la de todos, con nuestros seguros",
    description: "Pensamos en ti y en la seguridad de tu familia.",
    image:
      "https://www.bancolombia.com/wcm/connect/www.bancolombia.com-26918/94401c56-9396-4cca-952e-72cb35904e9b/ilustracion_seguros.svg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_K9HC1202P86O40QTNS9EAE1S47-94401c56-9396-4cca-952e-72cb35904e9b-nwjHv8Z",
    button: "SABER MÁS",
    color: "#FFFFFF",
    id: 'w-auto my-7',
    id2: 'flex justify-center'

  },
];
---

<section class="pb-9">

<Card title={title} data={data} secondary={secondary} />
<a href="#" class="underline text-base px-40 2xl:px-96 font-semibold">
Ver todos los productos</a
>
</section>


<style>
  section{
    background-color: #F7F7F7;
  }
  a{
    letter-spacing: -0.3px;
  }
  a:hover{
    color: #05386b;
    text-decoration: none;
  }
</style>