---
import Card from "./Card.astro";
import {
  titleProducts,
  dataProducts,
  secondaryDataProducts,
} from "../data/products";
---

<section class="pb-9">
  <Card
    title={titleProducts}
    data={dataProducts}
    secondary={secondaryDataProducts}
  />
  <a href="#" class="underline text-base px-8 md:px-40 xl:px-72 2xl:px-96 font-semibold">
    Ver todos los productos</a
  >
</section>

<style>
  section {
    background-color: #f7f7f7;
  }
  a {
    letter-spacing: -0.3px;
  }
  a:hover {
    color: #05386b;
    text-decoration: none;
  }
</style>
