---
import HeaderMenu from "./HeaderMenu";
---
<section
  class=" flex w-full px-20 text-white transition-transform duration-500 transform translate-y-0 md:flex justify-around bg-white"
>
  <figure class="items-center flex">
    <a href="#"
      ><img
        src="Bancolombia.png"
        alt=""
        class="object-cover aspect-[16:9] w-48 "
      /></a
    >
  </figure>
  <HeaderMenu client:load/>
  <nav class="hidden md:flex">
    <ul class="flex items-center text-black gap-x-8">
      <li>Inicio</li>
      <li>Necesidades</li>
      <li>Productos y Servicios</li>
      <li>Educación Financiera</li>
    </ul>
  </nav>
  <div class="hidden md:flex md:items-center text-black gap-x-4">
    <div>
      <a
        class="rounded-2xl buttonTramites text-gray-200 hover:text-white px-2 "
      >
        Trámites Digitales
      </a>
    </div>
    <div class="select-container">
      <div class="px-4 py-2">
        <select name="options" id="" class="bg-white">
          <option value="">Sucursal Virtual Personas</option>
          <option value="">Sucursal virtual Pymes</option>
          <option value="">Sucursal Virtual Empresas</option>
          <option value="">Pagos PSE</option>
          <option value="">Ver mas</option>
        </select>
        <button
          class="buttonIN bg-yellow-300 rounded-full font-open-sans font-bold py-2 px-5"
          >Entrar</button
        >
      </div>
    </div>
  </div>
</section>

<script>
  let lastScrollTop = 0;
  const header = document.querySelector("header");

  if (header) {
    window.addEventListener("scroll", function () {
      console.log("Scroll");
      const currentScroll =
        window.pageYOffset || document.documentElement.scrollTop;

      if (
        currentScroll > lastScrollTop &&
        currentScroll > header.clientHeight
      ) {
        header.style.transform = "translateY(-400%)";
      } else {
        header.style.transform = "translateY(0)";
      }
      lastScrollTop = currentScroll;
    });
  }
</script>
<style>
  li {
    font-size: 15px;
    border-bottom: transparent;
  }
  li:hover {
    border-bottom: 2.5px solid #fdc86d;
    transform: scale(1.05);
    cursor: pointer;
  }
  .buttonIN {
    font-size: 12px;
    color: #2c2a29;
  }
  .buttonTramites {
    background-color: #292929;
  }
  
  .select-container {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  }
  select {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
  }
  select:hover {
    color: #05386b;
  }
</style>
