---
// Supports weights 300-800
import '@fontsource-variable/open-sans';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Conoce nuestra oferta de valor para las personas naturales. Encuentra productos como créditos de financiación, tarjetas de crédito, inversiones, cuentas de ... Conoce más información aquí. Pagina web dedicada a la replica de Bancolombia" />
		<meta name="keywords" content="Replica, Bancolombia, Banco, personas, Bancario, Astro, Colombia ">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="Logo Bancolombia" href="LogoBancolombia.png" />
		<meta name="google-site-verification" content="uF2_fmw0wNh2oT7CFJk4HRUhQO9162I_WRh8iVSu4yI" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		font-family: "Open Sans Variable", sans-serif;
		/* color-scheme: dark light; */
	}
</style>
